My workflow (42) PART 1.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "daa9fb0f-2c66-44c2-bbef-cdfe82fbecf7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get a row').item.json.LindyURL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer: {{ $('Get a row').item.json.LindyAuthorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_name\": \"{{ $json.title }}\",\n  \"website_url\": \"{{ $json.website }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"address\": \"{{ $json.address }}\",\n  \"phone\": \"{{ $json.phoneNumber }}\",\n  \"rating\": \"{{ $json.rating }}\",\n  \"review_count\": \"{{ $json.reviewCount }}\",\n  \"status\": \"{{ $json.currentStatus }}\",\n  \"place_url\": \"{{ $json.placeUrl }}\",\n  \"query\": \"{{ $json.query }}\",\n  \"callbackUrl\": \"{{ $('Get a row').item.json.WEBHOOK }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "4ca4dfa4-fb44-4b43-b233-d5b4aa517069",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Variable Numbers",
        "filters": {
          "conditions": [
            {
              "keyName": "row_number",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "eace586c-31dd-4a85-af1d-f32ca44a16b9",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "V7AAhwKW8ChiRbA7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Variable Numbers",
        "filters": {
          "conditions": [
            {
              "keyName": "row_number",
              "condition": "eq",
              "keyValue": "1"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Search Number",
              "fieldValue": "={{ $('Get a row').item.json['Search Number'] +450 }}"
            },
            {
              "fieldId": "Filter Number",
              "fieldValue": "={{ $('Get a row').item.json['Filter Number'] +450 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "bf7769b6-eb9d-4c0c-9b54-4524a4295ab0",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "V7AAhwKW8ChiRbA7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Leads Roofing",
        "limit": 50000,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "RowNumber",
              "condition": "gte",
              "keyValue": "={{ $json['Filter Number'] }}"
            },
            {
              "keyName": "RowNumber",
              "condition": "lt",
              "keyValue": "={{ $json['Search Number'] }}"
            },
            {
              "keyName": "rating",
              "condition": "gte",
              "keyValue": "4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "ddb7781f-112e-476b-b62c-fe7a7c395bee",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "V7AAhwKW8ChiRbA7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65e2c0ee-953b-46f9-99bf-890332ca9c38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6d5f28ce7a1bab1db2ddd4a283141a60099da40d131046a3c4ad9c9412f5d0e"
  },
  "id": "dwOJIRiKX9flBwUi",
  "tags": []
}